body {
  background-color: black;
  padding: 0px;
  margin: 0px;
  min-width: 500px;
}
.window {
  width: 100%;
  height: 92%;
  font-family: Helvetica;
  font-weight: lighter;
  background-color: lightgreen;
  max-width: 700px;
  margin: 15px auto 0 auto;
  border-radius: 20px;
}
.title {
  color: white;
  text-align: center;
  padding-top: 15px;
  margin-left: -25px;
}
.colorButton {
  width: 25%;
  padding-bottom: 25%;
  height: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 3% 12% 0% 12%;
  background-color: deepskyblue;
  float: left;
}
.buttonBox {
  width: 100%;
  margin: 0 auto 0 auto;
  display: inline-block;
}
.scoreboard {
  width: 100%;
  height: auto;
  color: black;
  margin: 0 auto 0 auto;
  display: inline-block;
}
.scoreboard p {
  text-align: center;
}
.scoreboard h3 {
  font-weight: normal;
}
.score {
  background-color: floralwhite;
  width: 15%;
  max-height: 100px;
  min-width: 75px;
  min-height: 75px;
  font-size: 200%;
  text-align: center;
  border-radius: 5px;
  display: block;
  color: lightblue;
  vertical-align: center;
  height: 0;
  margin: 3% 17%;
  float: left;
}
.score h3 {
  margin: 0;
  padding: 0;
}
.score p {
  color: grey;
  font-size: 12px;
  display: inline-block;
  text-align: left;
  padding-top: 10px;
  margin: 0px;
}
.timer {
  margin-left: 41.5%;
  color: red;
}
.btn {
  display: block;
  text-decoration: none;
  font: bold 12px/12px HelveticaNeue, Arial;
  padding: 8px 11px;
  color: #555;
  border: 1px solid #dedede;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 75px;
  margin-top: 10px;
}
.btn.blue {
  background: #92dbf6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#abe4f8', endColorstr='#6fcef3');
  /*  IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#abe4f8), to(#6fcef3));
  /*  WebKit */
  background: -moz-linear-gradient(top, #abe4f8, #6fcef3);
  border-color: #8dc5da #76b7cf #63abc7;
  color: #42788e;
  text-shadow: 0 1px 0 #b6e6f9;
  -webkit-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
  -moz-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
  box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #c0ebfa;
}
.btn.blue:hover {
  background: #92dbf6;
  border-color: #7caec0 #68a3ba #5a9cb5;
  text-shadow: 0 1px 0 #bee9fa;
  -webkit-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;
  -moz-box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;
  box-shadow: 0 1px 1px #d6d6d6, inset 0 1px 0 #ade4f8;
}
